.modalContent{
  height: min-content;
  min-width: 560px;
  top: 70%;
  left: 30%;
}

.avatarMenuContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100%;
  padding: 20px;
  overflow: hidden
}

.tab{

}

.tabs{
  .MuiTabs-indicator {
    display: flex;
    justify-content: center;
    background-color: #635ee7;
  }
   &.MuiTabs-indicatorSpan {
    max-width: 40%;
    width: 100%!important;
     background-color: #635ee7!important;
  }
}

.avatarColorsBox{
  display: flex;
  width: 100%;
  .avatarResult{
    margin-right: 12px;
  }
  .avatarColorsSection{
    display: flex;
    div{
      width: 32px;
      height: 32px;
      cursor: pointer;
      border-radius: 4px;
      margin-right: 6px;
    }
  }
}

