.board {
  display: flex;
  /*   align-items: center; */
  padding-left: 4rem;
}

.main {
  background-color: #f8f8fb;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.copyingText {
  width: 100%;
  border: none;
  overflow: hidden;
  background-color: transparent;
  outline: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mainContent {
  display: flex;
  flex-direction: column;
  margin: 12px;
  width: 85%;
}

.projectInfo {
}

.projectName {
  color: #111;
  font-size: 28px;
  font-weight: 400;
}

.column {
  /*   min-width: 300px;
   min-height: 400px;  */
  padding: 20px 10px;
  border-radius: 12px;
  margin: 10px;
  display: flex;
  /*   align-items: center; */
  flex-direction: column;

  background-color: #f1f2f4;
}
.card {
  background-color: #ffffff;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 6px;
  box-shadow: 0px 1px 1px #091e4240, 0px 0px 1px #091e424f;
  color: #172b4d;
  cursor: pointer;
}
.cardEmpty {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ffffff;
  min-height: 44px;
}
.columnTitle {
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  padding: 6px 8px 6px 12px;
  background-color: transparent;
  overflow: hidden;
  overflow-wrap: anywhere;
  white-space: normal;
  cursor: pointer;
  color: #172b4d;
}

.columnContent {
  width: 100%;
  padding: 16px 6px 6px 6px;
}

.buttonAddCard {
  border: 0px;
  outline: 0px;
  font-size: 16px;
  font-weight: 700;
  margin-top: 6px;
  background-color: rgba(0, 0, 0, 0) !important;
  color: #172b4d !important;
}
.buttonAddCard:focus {
  border: 0px;
  outline: 0px;
}

.columnParent {
  width: 300px;
  height: 400px;
}

.icon {
  font-size: 7px;
}

.copyContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 32px;
  padding: 0 12px;
  overflow: hidden;
  color: #60636c;
  background: rgba(96, 99, 108, 0.1);
  transition: all 0.2s ease;
  cursor: pointer;
  border-radius: 8px;
}
