.taskContainer {
  display: flex;
}
.taskContent {
  display: flex;

  background-color: #fff;
  cursor: pointer;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  flex-direction: column;
  margin-bottom: 8px;
  border-radius: 8px;
  padding: 8px;
  width: 100%;
}

.taskContent:hover {
  box-shadow: 0 1.5px #eee;
}

.low {
  border: 1px solid #cff2d9;
}

.medium {
  border: 1px solid #faedcc;
}

.high {
  border: 1px solid #ffe1e1;
}
.freez {
  border: 1px solid #def1ff;
}
/* priority:|| low , medium , high , freez,none  */
