.menu {
  position: absolute;
  top: 39px;
  right: 0px;
  display: flex;
  width: 250px;
  margin-top: 4px;
  padding-bottom: 10px;
  background-color: #fff;
  flex-direction: column;
  border: 1px solid #f0f0f0;
  box-shadow: 0 4px 13px #3030301a;
  border-radius: 8px;

  padding: 10px 8px;
  z-index: 999;
}

.menuItem {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 8px;
  padding: 2px;
  border-radius: 2px;
}

.menuItem:hover {
  background-color: #eee;
  transition: 0.2s ease;
}

.menuProfile {
  display: flex;
  .menuProfileColumn {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
  }
  .menuProfileName {
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    overflow: hidden;
    white-space: nowrap;
    color: #242629;
    max-width: 188px;
    text-overflow: ellipsis;
    margin-right: 12px;
  }
  .menuProfileEmail {
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 188px;
    color: #93969f;
  }
}

.menuText {
  color: #111;
  font-weight: 500;
  font-size: 14px;
  margin-left: 4px;
}
