.myModal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  background: rgba(0, 0, 0, 0.45);
  z-index: 99;
}

.myModalContent {
  display: flex;
  flex-direction: column;
  padding: 20px 25px;
  background-color: white;
  border-radius: 10px;
  min-width: 23vw;
  min-height: 25vh;
  border: 0.1rem solid #000;
}

.modalChildrenContent {
  display: flex;
  flex-direction: column;
  justify-content: center;

  min-height: 15vh;
}

.modalClose {
  /*   position: relative;
  top: 1px; */
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.modalCloseButton {
  cursor: pointer;
  position: relative;
  top: -12px;
  right: -12px;
}

.myModal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}
