.myModal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  background: rgba(0, 0, 0, 0.45);
  z-index: 99;
}

.myModalContent {
  display: flex;
  flex-direction: column;
  padding: 20px 25px;
  background-color: white;
  border-radius: 10px;
  min-width: 26%;
  /* min-width: min-content; */
  min-height: 25vh;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.modalChildrenContent {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100%;
}

.modalClose {
  /*   position: relative;
  top: 1px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 6px;
}

.modalTitle {
  font-weight: 600;
  font-size: 20px;
  color: #333;
  margin: 0px;
}

.modalCloseButton {
  cursor: pointer;
  position: relative;
  /*   top: -12px;
  right: -12px; */
}

.myModal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}
