.button {
  font-size: calc(6px + 5 * (100vw - 320px) / 880);
  font-weight: 600;
  color: #fff;
  border: 0px;
  border-radius: 8px;
/*  background-color: #000;*/
  /*background-color: #5f81ff;*/
  background-color: #4182ff;
  padding: 0.7rem;
  margin-top: 4px;
  cursor: pointer;
}

.button:hover {
  transition: 0.4s;
  background-color: #2d74fb;
 /* border: 1.7px solid #000;
  color: #111;*/
}

.button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}