.input {
  font-size: calc(6px + 8 * (100vw - 320px) / 880) !important;
  font-weight: 400 !important;
  color: #1e1e1e;
  line-height: 110%;
  height: 44px;
  width: 100%;
  border-radius: 8px;
  background-color: #f8f8fb ;
  padding: 0.5rem;
  margin-bottom: 8px;
  border: 1px solid #EDEDF5;
  outline: none;
}

.input:focus {
  background-color: #f8f8fb;
}

.input:hover {
  transition: 0.2s;
  background-color: #f8f8fb;
}
