$dashboardWidth: 200px;
$dashboardHeight: 100px;

.dashboardCard {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1.5px solid #000;
  border-radius: 8px;
  padding: 6px 8px;
  width: $dashboardWidth;
  height: $dashboardHeight;
  margin: 0 14px 12px 0;
  cursor: pointer;
}

.dashboardCard:hover {
  transition: all 0.1s ease-in-out;
  background-color: #000;
  .dashboardCardName {
    color: #fff;
  }
}

.dashboardCardName {
  font-size: 22px;
  font-weight: 700;
  color: #111;
}

.editButtons {
  position: absolute;
  right: 6px;
  top: 6px;

  opacity: 0;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.dashboardCard:hover {
  .editButtons {
    opacity: 1;
  }
}
